body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #6a11cb, #2575fc);
  height: 100vh;
  margin: 0;
}

.login-box, .container {
  background: white;
  width: 320px;
  margin: 100px auto;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #2575fc;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.logout {
  background: #ff4d4d;
}

li {
  list-style: none;
  background: #f1f1f1;
  padding: 8px;
  margin-top: 8px;
  border-radius: 6px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li span {
  cursor: pointer;
}

li button {
  background: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
